{% extends 'base.html'%}
{% load static %}
{% block content %}

<style>


    .message-blue {
        position: relative;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 5px;
        padding: 15px;
        background-color:#6478FF;
        width: 45%;
        text-align: left;
        border: none;
        border-radius: 10px;
        color:#fff;
        font-style: bold;
        opacity: 0.9;
        font-weight: bold;

    }

    .message-mine {
        position: relative;
        margin-bottom: 15px;
        margin-top: 20px;
        margin-left: calc(100% - 45%);;
        margin-right: 40px;
        padding: 10px;
        background-color: #F8FAFC;
        width: 45%;
        text-align: left;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        align-content: left;
        
    }

    .message-content {
        width: 100%;
        padding: 0;
        margin: 0;
        word-break: break-all;
        margin-bottom: 60px;
        letter-spacing :0.5px;
        
    }

    .message-timestamp-right {
        position: absolute;
        font-size: .75em;
        font-weight: 300;
        bottom: 8px;
        right: 8px;
        word-break: break-all;
        padding-left: 13px;

    }

    .message-timestamp-left {
        position: absolute;
        font-size: .75em;
        font-weight: 300;
        bottom: 8px;
        left: 8px;
        word-break: break-all;
        padding-right: 13px;

    }

    .message-state{
        display:inline-block; 
        border-radius:2px;
        margin-top: 20px; 
        font-size : 0.75em; 
        padding:2px; 
        background:#fe7f5d;
        color: black;
    
    }
    .talk-input {
        border-radius:0 0 0 10px;
        padding: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        text-align: left;
        color: #6F7482;
        resize:none;
        border:none;
        width:90%;
    }

    .content {
        margin-top : 10%;  
        margin-left: 10%; 
        margin-right: 10%;
        margin-bottom: 10%;
        border-radius: 10px;
        background: #D2D2FF;
        padding:20px;
    }
    .sending{
        width:10%;
        height:90px;
        border-radius:0 0 10px 0;
        font-size:90%;
    }
     textarea:focus {
        outline: none;
    }
    .chat{
        display:flex;
    }


</style>

<div class="container">
        

    <div class="content" >
            <h2 style="padding:25px; color:gray;">{{room.name}}</h2>
            {% for i in chats %}  
           
                {% if i.writer == request.user %}
                    <div class="message-mine">
                        <p class="message-content">{{i.body}}</p>
                        <span class="message-timestamp-right"> {{i.updated_at}} <br><div style="text-align: right;"><a href="{%url 'shared_chat:fixchat' room.id i.id %}">수정하기 </a><a href="{%url 'shared_chat:delete_chat' room.id i.id %}">삭제하기</a></div> </span>
                        
                    </div>
                    
                {% else %}
                    <div class="message-blue">
                        <p class="message-content" >{{i.body}}</p>
                        <span class="message-timestamp-left">{{i.writer.profile.nickname}}<br>   {{i.updated_at}}</span>
                    </div>
                {% endif %}
            
        
        {%endfor%}
        <form action="{%url 'shared_chat:create_chat' room.id %}" method="post" enctype="multipart/form-data" style="margin-top: 20px; width:100%"  class="comment">
            {%csrf_token%}  
                    <div class="chat">
                    <textarea class="talk-input"  type="text" name="body" id="" cols="50" rows="3" 
                    required></textarea>
                    <button class="btn btn-outline-dark sending" type="submit" >전송</button></div>
                
        </form>
       
    </div>
</div>


{% endblock %}