{% extends 'base.html'%}
{% load static %}
{% block content %}

<style>


    .message-blue {
        position: relative;
        margin-bottom: 10px;
        margin-top: 5px;
        padding: 15px;
        background-color:#6478FF;
        width: 45%;
        text-align: left;
        border: none;
        border-radius: 10px;
        color:#fff;
        opacity: 0.9;
        font-style: bold;
        font-weight: bold;

    }

    .message-mine {
        position: relative;
        margin-bottom: 15px;
        margin-top: 20px;
        margin-left: calc(100% - 45%);;
        
        padding: 10px;
        background-color: #F8FAFC;
        width: 45%;
        text-align: left;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        align-content: left;
        font-style: bold;
        font-weight: bold;
    }

    .message-content {
        width: 100%;
        padding: 0;
        margin: 0;
        word-break: break-all;
        margin-bottom: 60px;
        letter-spacing :0.5px;
        
    }

    .message-timestamp-right {
        position: absolute;
        font-size: .75em;
        font-weight: 300;
        bottom: 8px;
        right: 8px;
        word-break: break-all;
        padding-left: 13px;

    }

    .message-timestamp-left {
        position: absolute;
        font-size: .75em;
        font-weight: 300;
        bottom: 8px;
        left: 8px;
        word-break: break-all;
        padding-right: 13px;

    }

    .message-state{
        display:inline-block; 
        border-radius:2px;
        margin-top: 20px; 
        font-size : 0.75em; 
        padding:2px; 
        background:#fe7f5d;
        color: black;
    
    }
    .url{
        width:10%;
        height:90px;
        border-radius:0 0 0 10px;
    }
    .sending{
        width:10%;
        height:90px;
        border-radius:0 0 10px 0;
        font-size:90%;
    }
    .talk-input {
        
        padding: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        text-align: left;
        color: #6F7482;
        resize:none;
        border:none;
        width:80%;
    }
    
    .content {
        margin-top : 10%;  
        margin-left: 10%; 
        margin-right: 10%;
        margin-bottom: 10%;
        border-radius: 10px;
        background: #D2D2FF;
        padding:20px;
    }
    
     textarea:focus {
        outline: none;
    }
    .chat{
        display:flex;
    }
    .fix:hover{
        cursor:pointer;
    }
    .fix{
        color:#14148C;
    }
    .urlsendcover{
        display:inline-block; 
        border:1px solid black; 
        padding:20px; 
        border-radius: 10px 10px 0 0;
        width:100%;
        margin-bottom:10px;
    }
    

</style>

<div class="container" data-aos="fade-down">
        

    <div class="content"  >
            <h2 style="padding:25px; color:black; display:inline-block;">{{room.name}}</h2>
            <a class="fix" href="{% url 'shared_chat:fixroom' room.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg></a>
            {% for i in chats %}  
           
                {% if i.writer == request.user %}
                    <div class="message-mine">
                        <p class="message-content">
                        {% if i.url%}
                        <a href="{% url 'analyze:URL_detail' i.url.id%}">{{i.url.title}}</a><br>
                        {%endif%}{{i.body}}
                        </p>
                        <span class="message-timestamp-right"> {{i.updated_at}} <br><div style="text-align: right;"><a href="{%url 'shared_chat:fixchat' room.id i.id %}">수정하기 </a><a href="{%url 'shared_chat:delete_chat' room.id i.id %}">삭제하기</a></div> </span>
                        
                    </div>
                    
                {% else %}
                    <div class="message-blue">
                        <p class="message-content" >
                        {% if i.url%}
                        <a href="{% url 'analyze:URL_detail' i.url.id%}">{{i.url.title}}</a><br>
                        {%endif%}{{i.body}}
                        </p>
                        <span class="message-timestamp-left">{{i.writer.profile.nickname}}<br>{{i.updated_at}}</span>
                    </div>
                {% endif %}
            
        
        {%endfor%}
        

        <form class="chatform" action="{%url 'shared_chat:create_chat' room.id %}" method="post" enctype="multipart/form-data" style="margin-top: 20px; width:100%"  class="comment">
            {%csrf_token%}  
                    <div style="display:none;" disabled class="urlsendcover">
                        <label  for="urlid">전송할 url을 선택해 주세요</label>
                        <select style="width:100%;" name="urlid" id="urlid" >
                            <option value="">선택되지 않음</option>
                        {% for mine in myurls %}
                            <option value="{{mine.id}}">{{mine.title}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="chat">
                    <button onclick="url()" class="btn btn-outline-dark url" type="button" ><i class="bi bi-paperclip"></i></button>
                    <textarea class="talk-input" onkeyup="enterkey();" type="text" name="body" cols="50" rows="3" 
                    required></textarea>
                    
                    <button class="btn btn-outline-dark sending" type="submit" >전송</button>
                    </div>
        </form>

        
    </div>
</div>

<script>
    function enterkey(){
        if (window.event.keyCode == 13){
            if(!window.event.shiftKey){
                $('.sending').click();
            }
            else{   
                $('.talk-input').append('\n');
            }
        }
    }  
    function url(){
        if($('.urlsendcover').css("display")=='none'){
            $('.urlsendcover').show();
            $('.urlsendcover').attr("disable",false);
        }
        else{
            $('.urlsendcover').hide();
            $('.urlsendcover').attr("disable",true);
        }
        
    }
</script>

{% endblock %}