{% extends 'base.html'%}
{% load static %}
{% block content %}

<style>
    .message-blue {
        position: relative;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 5px;
        padding: 15px;
        background-color: #6478FF;
        width: 30%;
        text-align: left;
        border: none;
        border-radius: 18px;
        color:#fff;
        font-style: bold;
        opacity: 0.9;
        font-weight: bold;
    }

    .message-orange {
        position: relative;
        margin-bottom: 15px;
        margin-top: 20px;
        margin-left: calc(100% - 35%);;
        margin-right: 40px;
        padding: 10px;
        background-color: #F8FAFC;
        width: 30%;
        text-align: left;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        align-content: left;
        
    }

    .message-content {
        width: 100%;
        padding: 0;
        margin: 0;
        word-break: break-all;
        margin-bottom: 60px;
        letter-spacing :0.5px;
        
    }

    .message-timestamp-right {
        position: absolute;
        font-size: .75em;
        font-weight: 300;
        bottom: 8px;
        right: 8px;
    }

    .message-timestamp-left {
        position: absolute;
        font-size: .75em;
        font-weight: 300;
        bottom: 8px;
        left: 8px;
        padding-left: 13px;
    }

    .message-state{
        display:inline-block; 
        border-radius:2px;
        margin-top: 20px; 
        font-size : 0.75em; 
        padding:2px; 
        background:#fe7f5d;
        color: black;
    
    }
    .talk-input {
        resize:none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 12px;
        background: #F8FAFC;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 2px 0px 0px 0px;
        left: 12px;
        color: #B8BCCA;
        align-self: stretch;
        position: static;
        right: 12px;
        top: 135px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        text-align: left;
        color: #6F7482;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin:content;
    }

    .content {
        margin-top : 10%;  
        margin-left: 10%; 
        margin-right: 10%;
        margin-bottom: 10%;
        border-radius: 10px;
        background: #D2D2FF;
        padding:20px;
        
    }

    .comment{
        display: inline-flex;
        margin-left: 30px;
    
    }

    .input{
        display: inline-flex;
        width: 180%;
    } 

    .sending{
        background: #A0A0FF;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 2px 0px 0px 0px;
        left: 12px;
        color: #fe7f5d;
        align-self: stretch;
        position: static;
        right: 12px;
        top: 135px;
        font-style: normal;
        font-weight: bold;
        font-size: 1.2rem;
        line-height: 100%;
        text-align: center;
        color: black;
        flex: none;
        order: 1;
        flex-grow: 0;
        border-radius: 10px;
        border-style:none;
        opacity: 0.9;
        margin-right: 1%;  
    }

    .comment-header{
        margin-right: 20px;
        font-weight: bold;
        font-size: 1.1rem;
        border-style:none;
    }
</style>

<div class="container">
    <div class="content" >
        
            {% for i in chats %}   
                {% if i.writer == request.user %}
                    {% if i == pick %}

                        <form action="{%url 'shared_chat:update_chat' room_id i.id %}" method="post" enctype="multipart/form-data" >
                            {%csrf_token%}  
                                <div class="message-orange">
                                <textarea required type="text" name="body" rows="5" class="edit_textarea"
                                style="width: 100%; margin-bottom: 40px; margin-top: 0px; height: 107px;">{{i.body}}</textarea>
                                <div class="message-timestamp-right">{{i.updated_at}}</div>
                                <button type="submit" style="border-radius: 5px;">수정하기</button>
                            </div>
                        </form>
                    {%else%}
                        <div class="message-orange">
                            <p class="message-content">{{i.body}}</p>
                            <div class="message-timestamp-right"> {{i.updated_at}} <br><div style="text-align: right;"></div> </div>
                            
                        </div>
                    {%endif%}
                {% else %}
                    {% comment %} <div style="margin-left:40px; margin-bottom:2px;">
                        <div class="message-state">ㅋㅋ</div>

                        <div class="message-state">ㅋㅋ</div>
                        <div class="message-state" >ㅋㅋ</div>
                    </div> {% endcomment %}
                    <div class="message-blue">
                        <p class="message-content" >{{i.body}}</p>
                        <div class="message-timestamp-left">{{i.writer}}<br>   {{i.updated_at}}</div>
                    </div>
                {% endif %}
            
        
        {%endfor%}
        
       
    </div>
</div>


{% endblock %}