{% extends 'base.html'%}
{% load static %}
{% block content %}

<style>
   
    .message-blue {
        position: relative;
        
        margin-bottom: 10px;
        margin-top: 5px;
        padding: 15px;
        background-color:#6478FF;
        width: 45%;
        text-align: left;
        border: none;
        border-radius: 10px;
        color:#fff;
        font-style: bold;
        opacity: 0.9;
        font-weight: bold;

    }

    .message-mine {
        position: relative;
        margin-bottom: 15px;
        margin-top: 20px;
        margin-left: calc(100% - 45%);;
        
        padding: 10px;
        background-color: #F8FAFC;
        width: 45%;
        text-align: left;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        align-content: left;
        
    }


    .message-content {
        width: 100%;
        padding-right: 5px;
        margin: 0;
        word-break: break-all;
        margin-bottom: 60px;
        letter-spacing :0.5px;
        
    }

    .message-timestamp-right {
        position: absolute;
        font-size: .75em;
        font-weight: 300;
        bottom: 8px;
        right:10px;
        padding-left: 10px;
        
    }

    .message-timestamp-left {
        position: absolute;
        font-size: .75em;
        font-weight: 300;
        bottom: 8px;
        left: 10px;
        padding-right: 10px;
        
    }

    .message-state{
        display:inline-block; 
        border-radius:2px;
        margin-top: 20px; 
        font-size : 0.75em; 
        padding:2px; 
        background:#fe7f5d;
        color: black;
    
    }
    .content {
        margin-top : 10%;  
        margin-left: 10%; 
        margin-right: 10%;
        margin-bottom: 10%;
        border-radius: 10px;
        background: #D2D2FF;
        padding:20px;
        
    }

    .comment{
        display: inline-flex;
        margin-left: 30px;
    
    }

    .input{
        display: inline-flex;
        width: 180%;
    } 


    .comment-header{
        margin-right: 20px;
        font-weight: bold;
        font-size: 1.1rem;
        border-style:none;
    }
    .edit_textarea{
        resize:none;
        border:none;
    }
</style>

<div data-aos="fade-down" class="container">

    <div class="content" >
            <h2 style="padding:25px; color:gray;">{{room.name}}</h2>
            
            {% for i in chats %}   
                {% if i.writer == request.user %}
                    {% if i == pick %}

                        <form action="{%url 'shared_chat:update_chat' room.id i.id %}" method="post" enctype="multipart/form-data" >
                            {%csrf_token%}  
                                <div class="message-mine">
                                <textarea onkeyup="enterkey();" required type="text" name="body" rows="5" class="edit_textarea"
                                style="width: 100%; margin-bottom: 40px; margin-top: 0px; height: 107px;">{{i.body}}</textarea>
                                <div class="message-timestamp-right">{{i.updated_at}} <button class="btn-outline-dark ck" type="submit" style="border-radius: 5px;"> 수정하기</button></div>
                                
                            </div>
                        </form>
                    {%else%}
                        <div class="message-mine">
                            <p class="message-content">{{i.body}}</p>
                            <div class="message-timestamp-right"> {{i.updated_at}} <br><div style="text-align: right;"></div> </div>
                            
                        </div>
                    {%endif%}
                {% else %}
                    {% comment %} <div style="margin-left:40px; margin-bottom:2px;">
                        <div class="message-state">ㅋㅋ</div>

                        <div class="message-state">ㅋㅋ</div>
                        <div class="message-state" >ㅋㅋ</div>
                    </div> {% endcomment %}
                    <div class="message-blue">
                        <p class="message-content" >{{i.body}}</p>
                        <div class="message-timestamp-left">{{i.writer.profile.nickname}}<br>   {{i.updated_at}}</div>
                    </div>
                {% endif %}
            
        
        {%endfor%}
        
       
    </div>
</div>

<script>

    function enterkey(){
        if (window.event.keyCode == 13){
            if(!window.event.shiftKey){
                $('.ck').click();
            }
            else{   
                $('.edit_textarea').append('\n');
            }
        }
    }

</script>
{% endblock %}