{% extends 'base.html'%}
{% load static %}
{% block content %}
<style>
.yet{
    cursor:pointer;
}
.picked:hover{
    cursor:pointer;
}

</style>
<section id="services" class="services" data-aos="fade-down">
    <div class="container" >
        

        <div class="section-title">
            <h2>MyPage</h2>
            <p>URL 모아보기</p>
            <div>
            <a href='#'>내가쓴글</a>&nbsp;
            <a href='#'>퍼온글</a>&nbsp;
            <a href='#'>정치</a>&nbsp;
            <a href='#'>경제</a>&nbsp;
            <a href='#'>사회</a>&nbsp;
            <a href='#'>문화</a>&nbsp;
            <a href='#'>국제</a>&nbsp;
            <a href='#'>지역</a>&nbsp;
            <a href='#'>스포츠</a>&nbsp;
            <a href='#'>IT_과학</a>

            </div>
        </div>
        <div class="card shadow-hover mb-4">
            <div class="card-body" style="background-color: rgba(0,0,0,.025);">
                <h5 class="card-title pb-1">저장된 URL 검색</h5>
                <form action="" method="GET" >
                    <div class="input-group">
                        <input type="text" class="form-control" id="q" name="q" placeholder="검색어를 입력하세요."
                            aria-label="검색어 입력" value="{{ q|default_if_none:'' }}" required>
                        <button type="submit" class="btn btn-outline-secondary" aria-label="검색">
                            <i class="bi bi-search me-2"></i>검색</button>
                        {% if '?q=' in request.get_full_path %}
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false" aria-label="검색 옵션"></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item fade-onclick" href="">검색 초기화</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {%for url in urls %}
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue" style="height:100%; width:100%;">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174">
                            </path>
                        </svg>
                        <i class="bx bxl-dribbble"></i>
                    </div>
                       
                        {% if url in request.user.profile.pick.all %}
                        <a href="{% url 'users:pick_url' url.id %}"><i class="picked bi bi-check-square-fill"></i></a>
                        {% else%}
                        <i onclick="count_query({{url.id}})" class="yet bi bi-check-square"></i>
                        {%endif%}
                    <h4><a href="{% url 'analyze:URL_detail' url.id %}">{{url.title}}</a></h4>
                    <p>{{url.content|truncatechars:70}}</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</section>

<script>
    function count_query(id){
    var c={{request.user.profile.pick.count|safe}};
    if (c>=6){
        alert('이미 6개를 선택했습니다');
    }
    else{
        var url = "{% url 'users:pick_url' 0 %}".replace('0',id);
        document.location.href=url;
    }

    $(function(){
		$("#services").animate({ scrollTop: 0 }, "slow"); 
	});
    

}

</script>

{%endblock%}
