{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} 로그인 전 {% endcomment %}
<style>
    .btn{
      padding: none;
      border-style: solid black;
      
    }
</style>
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>URL 분석 저장 사이트
            <p>팀 <span class="typed" data-typed-items=", Singapore"></span></p>
        </h1>
        <button type="button" class="btn"> <a href="{% url 'account_login' %}">로그인</a></button>
        <button type="button" class="btn"> <a href="{% url 'account_signup' %}">회원가입</a></button>

    </div>
</section>

{%endblock%}