{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} 로그인 후 {% endcomment %}
<script  src="{% static 'js/jquery-latest.min.js' %}"></script>

<section id="hero" class="d-flex flex-column justify-content-center" >
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
    {% comment %} 다적고 hide 해두고 버튼 누르면 보이게 그런식으로 해도됨 {% endcomment %}
    <script> 
        body='';
        if ({{request.user.profile.level}} == 0){
            body+=`
            <div class="card shadow-hover mb-4">
                <div class="card-body" style="background-color: rgba(0,0,0,.025);">
                    <h5 class="card-title pb-1">URL 검색</h5>
                    <form action="{% url 'analyze:crawl'%}" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}  
                        <div class="input-group">
                            <input type="text" class="form-control" id="url" name="url" placeholder="url을 입력하세요."
                                aria-label="검색어 입력" value="" required>
                            <button type="submit" class="btn btn-outline-secondary" aria-label="검색">
                                <i class="bi bi-search me-2"></i>검색</button>

                        </div>
                    </form>
                </div>
            </div>`;
        }
        else if ({{request.user.profile.level}} ==1){
            body+=`
            <div class="card shadow-hover mb-4">
                <div class="card-body" style="background-color: rgba(0,0,0,.025);">
                    <h5 class="card-title pb-1">URL 검색</h5>
                    
                        <div class="input-group">
                            <input type="text" class="form-control" id="url" name="url" value="{{info.url}}">

                        </div><br><br>
                        <input class="form-control" type="text" value="{{info.title}}">
                        <textarea class="form-control">{{info.content|truncatechars:100}}</textarea><br>
                        <p> 찾는 기사가 맞나요? </p>
                        <a href="{% url 'analyze:analyze'%}">네</a>
                        <a href="{% url 'diff' %}">아니요</a>
                    
                </div>
            </div>`;
        }
        else{
            body+=`
            <div class="card shadow-hover mb-4">
                <div class="card-body" style="background-color: rgba(0,0,0,.025);">
                    <h5 class="card-title pb-1">등록하고자하는 URL 정보 입력</h5>
                    <form action="{% url 'analyze:modify'%}" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}  
                        
                                
                        <div class="input-group">
                        <input type="text" class="form-control" id="url" name="url" placeholder="url을 입력하세요."
                            aria-label="검색어 입력" value="" required>
                        </div><br>
                        <input id="title" name="title" class="form-control" type="text" placeholder="뉴스 제목을 입력해주세요">
                        <textarea id="content" name="content" class="form-control" placeholder="뉴스 내용을 입력해주세요"></textarea><br>

                        <button type="submit" class="btn btn-outline-secondary" aria-label="검색">
                            <i class="bi bi-search me-2"></i>제출</button>
                    </form>
                </div>
            </div>
            `;
            
        }
        $(".container").append(body);
    </script>
   

        <div class="card shadow-hover mb-4">
            <div class="card-body" style="background-color: rgba(0,0,0,.025);">
                <h5 class="card-title pb-1">저장된 URL 검색</h5>
                <form action="" method="GET" >
                    <div class="input-group">
                        <input type="text" class="form-control" id="q" name="q" placeholder="검색어를 입력하세요."
                            aria-label="검색어 입력" value="{{ q|default_if_none:'' }}" required>
                        <button type="submit" class="btn btn-outline-secondary" aria-label="검색">
                            <i class="bi bi-search me-2"></i>검색</button>
                        {% if '?q=' in request.get_full_path %}
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false" aria-label="검색 옵션"></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item fade-onclick" href="">검색 초기화</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

        <button type="button" class="btn"> <a href="{% url 'account_logout' %}">로그아웃</a></button>

    </div>
</section>

{%endblock%}