{% extends 'base.html' %}
{% load static %}
{% block content %}
{% comment %} 로그인 후 {% endcomment %}

<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">

        <div class="card shadow-hover mb-4">
            <div class="card-body" style="background-color: rgba(0,0,0,.025);">
                <h5 class="card-title pb-1">URL 검색</h5>
                <form action="" method="GET" onsubmit="return validation(this)">
                    <div class="input-group">
                        <input type="text" class="form-control" id="q" name="q" placeholder="검색어를 입력하세요."
                            aria-label="검색어 입력" value="{{ q|default_if_none:'' }}" required>
                        <button type="submit" class="btn btn-outline-secondary" aria-label="검색">
                            <i class="bi bi-search me-2"></i>검색</button>
                        {% if '?q=' in request.get_full_path %}
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false" aria-label="검색 옵션"></button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item fade-onclick" href="">검색 초기화</a></li>
                        </ul>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>

{%endblock%}