{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<div class="container" data-aos="fade-down">
  <div>
        
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %} 
          <div class="c-left">
            {{ form.as_p }}
            <div class="login-btn">
              <input type="submit" class="upload-btn btn btn-outline-dark" value="로그인" />
              <a class="btn btn-outline-dark" href="{% url 'account_signup' %}">회원가입</a>
            </div>
          </div>
        </form>

  </div>
</div>
{% endblock %}