{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
<div class="container" data-aos="fade-down">
  <div>
        <form class="logout" method="POST" action="{% url 'account_logout' %}">
        <div class="c-left">
          {% comment %} <p>현재 {{user}}로 로그인 되어있습니다.</p> {% endcomment %}
          <p>로그아웃 하시겠습니까?</p>
          <br>
          {% csrf_token %} 
          
          {{ form.as_p }}
          <div class="logout-btn">
            <input type="submit" class="upload-btn btn btn-outline-dark" value="로그아웃" />
            <a class="btn btn-outline-dark" href="{% url 'index' %}">아니요</a>
          </div>
          </div>

        </form>
 
  </div>
</div>

{% endblock %}