{% extends 'base.html'%}
{% load static %}
{% block content %}
<script src="{% static 'js/jquery-latest.min.js' %}"></script>

<section id="portfolio-details" class="portfolio-details">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div style="width:100%; height:100%; text-align:center;" class="fwordcloud swiper-slide">
                            <img style="witdh:100%; height:100%; max-width:630px; max-height:630px;"
                                src="{% get_static_prefix %}img/wordcloud/wordcloud{{urlinfo.id}}-1.jpg"
                                alt="워드클라우드1" />
                            <p>TF-IDF WORDCLOUD</p>
                        </div>
                        <div style="width:100%; height:100%; text-align:center;" class="swiper-slide">
                            <img style="witdh:100%; height:100%; max-width:630px; max-height:630px;"
                                src="{% get_static_prefix %}img/wordcloud/wordcloud{{urlinfo.id}}-2.jpg"
                                alt="워드클라우드2" />
                            <p>KRWORDRANK WORDCLOUD</p>
                        </div>


                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>{{urlinfo.title}}</h3>
                    <ul>

                        <li><strong>키워드</strong>: {%for i,j in urlinfo.keyword.items %} {{j}} {% endfor %}</li>
                        <li><strong>카테고리</strong>: {{urlinfo.category}}</li>

                        <li><strong>생성</strong>: {{urlinfo.created_at}}</li>
                        <li><strong>URL</strong>: <a href="{{urlinfo.url}}">원문링크</a></li>
                        {% if request.user == urlinfo.writer %}
                        <li><a href="{% url 'analyze:URL_delete' urlinfo.id %}">삭제</a></li>
                        {%endif%}
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>본문 요약</h2>
                    <p>
                        {{urlinfo.content}}
                    </p>
                </div>

            </div>

        </div>
        <hr>
        <hr>
        <div>
            <div class="img-controll" style="display: flex; width: 100%; margin:0 auto;">
                <a href="{% url 'analyze:makememo' urlinfo.id %}" style="cursor:pointer; max-width:20px; max-height:20px; width: 4%; height: 4%; margin: 5px;"><img style="width: 100%;" src="{% static 'img/plus.svg'%}" alt="+"></a>
                <div onclick="count_check()" style="max-width:20px; max-height:20px; cursor:pointer; width: 4%; height: 4%; margin: 5px;"><img style="width: 100%;" src="{% static 'img/minus.svg'%}" alt="-"></div>
                
            </div>
            <br><p>// + 버튼으로 메모생성 - 버튼으로 메모 삭제</p>
            <div class="memolist" style="width: 60%; margin:0 auto;">
                {% for m in memo %}
                <script>
                    function printmemo() {
                        var m_id = {{m.id}};
                        
                        var html = `
                            <form action="{%url 'analyze:updatememo' m.id %}" method="post" enctype="multipart/form-data">
                            <table style=" width:100%;">
                                <tr style="width:100%;">
                                    <td style="width:5%; text-align:center; "><input type="checkbox" name="check" id="${m_id}"></td>
                                    <td style="width:80%; ">                                 
                                        <div id="memo${m_id}" style="overflow:scroll;  width:100%;" >
                                            <textarea style=" width:100%; height:100%;" class="memo${m_id}" name="memo"> {{m.memo}}</textarea>
                                            
                                            
                                        </div>
                                    </td>
                                    <td style=" width: 15%;">
                                        <div style="text-align:right;">
                                            
                                            <button class="btn btn-outline-dark submit${m_id}" type="submit">작성</button>
                                            </div>
                                    </td>
                                
                                </tr>
                                
                            </table>
                            </form>
                            <br>
                            `;

                        $('.memolist').append(html);

                    }
                    printmemo();
                </script>
                {%endfor%}
                <script>
                   

                    function count_check() {
                        var cnt = $("input[name='check']:checked").length;
                        var arr = new Array();
                        $("input[name='check']:checked").each(function () {
                            arr.push($(this).attr('id'));
                        });
                        var param = {
                            'checked_id': arr,
                            'cnt': cnt
                        }
                        if (cnt == 0) {
                            alert("선택된 메모가 없습니다 ");
                        } else {

                            $.ajax({
                                type: "POST",
                                url: "{% url 'analyze:deletememo' %}",
                                data: JSON.stringify(param),
                                dataType: "json",

                                success: function (response) {
                                    if (response.check == 1) {
                                        alert("삭제 완료");
                                    } else {
                                        alert("삭제 실패");
                                    }
                                },
                                error: function () {
                                    alert("서버 통신 오류");
                                }
                            });
                            location.reload();
                        }

                    }
                </script>

            </div>
            
        </div>
    </div>
</section>

{%endblock%}